.list-wrapper {
  width: 310px;
}

.search-field {
  width: 100%;
  margin-bottom: 15px;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: #b8b7bf;
}
