.song {
  padding: 6px 10px;
  border: 1px solid black;
  margin-bottom: 8px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
